code_generation: true
stop_on_failure: true  
suites:
    filesync_suite:
        namespace: PostOffice
        psr4_prefix: PostOffice
        spec_prefix: 
        src_path: %paths.config%/src/PostOffice
        spec_path: %paths.config%/spec/PostOffice